.input-zone-outer {
    background-color: #E4F1F1;
}

.input-zone-inner {
    padding: 30px 0;
}

.output-zone-outer {
    background-color: #EFF1E4;
}

.output-zone-inner {
    padding: 30px 0;
}

.validation-text {
    color: red;
}