<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Commissionator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/bootstrap-4.5.2-dist/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/calculator.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container col-md-8">
        <div class="justify-content-start">
            <h1>Commissionator</h1>
        </div>
        <div class="justify-content-end align-self-end">
            <p>by Toby Laughlan</p>
        </div>
    </div>
</nav>
<main role="main">
    <div class="container input-zone-outer col-12">
        <div class="container input-zone-inner col-md-8">
            <div class="row justify-content-center text-muted">
                <p>Fill out the form to see your sales commission.</p>
            </div>
            <form th:action="@{/calculator}" th:object="${commission}" method="post">
                <div class="form-group">
                    <label for="actualInput">Actual</label>
                    <input class="form-control" type="number" name="actual" id="actualInput"
                           placeholder="How much did you sell? e.g. 79" th:value="${commission.actual}">
                    <p class="validation-text" th:if="${#fields.hasErrors('actual')}" th:errors="*{actual}" />
                </div>
                <div class="form-group">
                    <label for="targetInput">Target</label>
                    <input class="form-control" type="number" name="target" id="targetInput"
                           placeholder="What was your sales target? e.g. 100" th:value="${commission.target}">
                    <p class="validation-text" th:if="${#fields.hasErrors('target')}" th:errors="*{target}" />
                </div>
                <div class="form-group">
                    <label for="motcInput">MOTC</label>
                    <input class="form-control" type="number" name="motc" id="motcInput"
                           placeholder="Monthly On-Target Commission. e.g. 5000" th:value="${commission.motc}">
                    <p class="validation-text" th:if="${#fields.hasErrors('motc')}" th:errors="*{motc}" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn  btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${commission.totalCommission >= 0.0}" class="container output-zone-outer col-12">
        <div class="container output-zone-inner col-md-8">
            <div class="row justify-content-center">
                <p>Your results:</p>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Achievement:</p></div>
                <div class="col-md-3"><b><p th:text="${commission.achievement}" /></b></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Commission rate:</p></div>
                <div class="col-md-3"><b><p th:text="${commission.commissionRate}" /></b></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3"><h4>Commission:</h4></div>
                <div class="col-md-3"><h4 class="success"><p th:text="'$'+${commission.totalCommission}" /></h4></div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-4.5.2-dist/bootstrap.min.js}"></script>
</body>
</html>